@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-classic: black;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 25px;
    --border-radius-1: 25px;
    --border-radius-2: 25px;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

a {
    color: var(--color-dark);
}

body {
    background-color: var(--color-background);
}

#zonePaiement {
    display: flex;
    gap: 1.8rem;
    margin-top: 20px;
    height: 88vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#paiementCard {
    position: absolute;
    top: -160px;
    height: 200px;
    width: 350px;
    border-radius: 25px;
    background: radial-gradient(circle, white 0%, #d5d5d5 100%);
    box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.55);
    padding: 10px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    animation: rotateCB 4s ease-in-out infinite;
}

@keyframes rotateCB {
     0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(15px);
    }
} 

#cardBody {
    flex-direction: column;
    margin: 10px;
}

#cbBodyInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#cbNumber {
    font-size: 22px;
}
#owner {
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#bodyInfo {
    display: flex;
    flex-direction: column;
    width: 70%;
}
#bodyInfo img {
    width: 70px;
    margin-bottom: 20px;
}
#bodyCvv {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
}
#ownerCvvDiv {
    display: flex;
    justify-content: space-between;
}
#cvvValue {
    margin-left: 60px;
}

#cbBodyInfo {
    display: flex;
}

#cbLogo img{
    height: 70px;
}

/*-------------------Paiementform-----------------------*/

#paiementForm {
    position: relative;
    margin-right: 20px;
    height: 400px;
    width: 500px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}


.inputFormLabel, #dateCvvDiv {
	position: relative;
	transition: 0.2s ease all;
}
#paiementForm .inputForm{
    border: 1px solid grey;
    border-radius: 25px;
    background: none;
    padding: 10px;
    margin-top: 30px;
    width: 94%;
    outline: none;
}
#paiementForm .inputForm:focus{
    border-color: green;
}
.inputFormLabel {
    position: relative;
    margin-bottom: 20px;
}

.placeholder {
    position: absolute;
    pointer-events: none;
    left: 14px;
    top: 38px;
    transition: 0.2s ease all;
    font-size: 17px;
    color: #999;
}

.cvv {
    left: auto;
    right: 35%;
}

.inputForm:focus + .placeholder,
.inputForm:not(:placeholder-shown) + .placeholder,
.inputForm:not(:valid) + .placeholder{
    top: 20px;
    font-size: 15px;
    color: #333;
    padding: 2px 5px;
    background-color: #fff;
}

#paiementForm .paymentBtn{
    margin-top: 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 10px 40px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}
#paiementForm .paymentBtn:hover{
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 10px 60px;
}

#dateCvvDiv {
    display: flex;
    justify-content: space-between;
}

.inputFormContainer {
    position: relative;
}


.infosZone,
.recapZone,
.totalZone {
    border-bottom: 1px solid var(--color-info-dark);
    margin: 30px 20px;
    padding-bottom: 10px;
    overflow-x: auto;
    text-align: start;
}


#recapCard {
    position: relative;
    flex: 1;
    margin-left: 20px;
    height: 600px;
    width: 500px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.074);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    opacity: 0.9;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    flex-direction: column;
}

.totalZone {
    position: absolute;
    bottom: 2rem;
}


/*--------------------------------Zone fade in et visible------------------------------------*/
.fade-in-bottom {
    transform: translateY(50px);
    /* Déplacez-les vers le bas de 50px */
    transition: opacity 0.5s ease, transform 0.5s ease;
    /* Ajoutez une transition de 0.5s avec une courbe d'accélération pour une apparence fluide */
    animation: fadeInBottom 0.8s ease forwards;
    /* Utilisez l'animation fadeInBottom pour contrôler l'opacité */
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(50px);
        /* Début de l'animation : opacité à 0 et décalage vers le bas de 50px */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Fin de l'animation : opacité à 1 et pas de décalage en Y */
    }
}





