@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  transition: 0.5s ease;
  transition-property: heigh, background;
}

/* CODE POUR LE SCROLL DE LA BARRE DE NAVIGATION */

header.scroll {
  position: fixed;
  height: calc(2.5rem + 1rem);
  backdrop-filter: blur(20px); /* Ajustez la valeur du flou selon vos préférences */
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 50px; /* Ajoutez du padding pour espacer le contenu */
  transition: background-color 0.3s ease;
  width: 100%;
  top: 0;
  left: 0;
}

/* Texte TRAVEL LINKER  */

header .brand{
  color:#fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
 }

/* Position de la barre de navigation */

header .navigation{
  position: relative;
}

/* Code pour les différents élements de la barre de navigation */

header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

/* Fin du code pour la barre de navigation */

/* Code pour les éléments de la page d'accueil */

section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.home:before{
  z-index: 777;
  content: '';
  position: absolute;
  /*background: rgba(3, 94, 251, 0.242); Pour modification si besoin*/
  background: linear-gradient(90deg, #FDD835, #66BB6A, #4FC3F7);
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active{
  display: block;
}

.home .content.active .logo {
  max-width: 200px; /* Ajustez la largeur maximale selon vos besoins */
  height: auto; /* Pour maintenir le ratio d'aspect */
  display: inline-block; /* Permet de traiter l'image comme un élément en ligne */
  vertical-align: middle; /* Pour aligner verticalement avec le texte */
}


/* PREMIER TEXTE TITRE */

.home .content h1{
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

/* DEUXIEME TEXTE TITRE */
.home .content h1 span{
  font-size: 1.2em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 75px;
  margin-bottom: 40px;

  /*font-size: 1.2em;
  font-weight: 600;
  MODIFIABLE*/
}

.home .content p{
  margin-bottom: 65px;
}

.home .content a{
  background: transparent;
  border: 3px solid white;
  color: white;
  padding: 10px 25px;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 25px;
  transition: all ease-in-out 300ms ;
}

.home .content a:hover{
  transform: scale(1.2);
  font-size: 1.2em;
}

.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icons a{
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover{
  transform: scale(1.3);
}
 /* Placement de la vidéo en-dessous du texte */
  
.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Code pour les boutons du slider */

.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: #e9d626;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.2);
}

/* Code pour les transitions entre les vidéos */
.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

/* Responsive pour tablette */

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons{
    right: 15px;
  }

  /* Navigation après le menu hamburger */

  header .navigation{
    display: none;
  }

  /* Disposition */

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  /* Police d'écriture */

  header .navigation .navigation-items a{
    color: white;
    font-size: 1.2em;
    margin: 20px;
  }

  /* Surlignage */

  header .navigation .navigation-items a:before{
    background: white;
    height: 5px;

  }

  /* ZOOM */

  header .navigation .navigation-items a:hover{
    transform: scale(1.2);
    transition: 0.3 ease;
  }

  /* Contenue de la card */

  header .navigation.active .navigation-items{
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 /100%);
    backdrop-filter: blur(10px); /* Ajustez la valeur du flou selon vos préférences */
    background-color: rgba(255, 255, 255, 0); /* Ajustez la couleur du fond flou */
  }

  /* Bouton hamburger */
  .menu-btn{
    background: url(media/images/menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  /* Bouton croix */

  .menu-btn.active{
    z-index: 999;
    background: url(media/images/close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
  /* ZOOM */

  .menu-btn.active:hover{
    transform: scale(1.2);
  }

}

/* Responsive pour mobile */

@media (max-width: 560px){
  .home .content h1{
    font-size: 3em;
    line-height: 60px;
  }
}

/* FIN DU HEADER */
/* DEBUT DES PACKAGES */

.package {
  position: relative;
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px; /*TEST*/
  /* background-color: red; */
  /* position: absolute;
  left: 32%;
  top: 150%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center; */
}

.title-package{
  margin-top: -48px !important ;
}
.title-package h1{
  color: black;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 100px;
  text-transform: uppercase;

/* text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: black; */
  
}
.title-package h1 span{
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
  background-clip: text;
  color: transparent;
 
}

.container-package{
  transform: translate(-50%,-50%);
  width:1000px;
  height: 600px;
  margin-top: 250px;
  margin-left: 50%;
  background-color: #f5f5f5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0),
  0 0 40px rgb(0, 0, 0),
  0 0 60px rgba(0, 0, 0, 0),
  0 0 80px rgba(0, 0, 0, 0);
  border-radius: 25px;
}

#slide{
  width:max-content;
  /* margin-top:50px; */
}
.item-package{
  width:200px;
  height:300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top:50%;
  transform: translate(0,-50%);
  border-radius: 25px;
  box-shadow:  0 30px 50px #505050;
}
.item-package:nth-child(1),
.item-package:nth-child(2){
  left:0;
  top:0;
  transform: translate(0,0);
  border-radius: 25px;
  width:100%;
  height:100%;
  box-shadow: none;
}
.item-package:nth-child(3){
  left:50%;
}
.item-package:nth-child(4){
  left:calc(50% + 220px);
}
.item-package:nth-child(5){
  left:calc(50% + 440px);
}
.item-package:nth-child(n+6){
  left:calc(50% + 660px);
  opacity: 0;
}
.item-package .content-package{
  position: absolute;
  top:50%;
  left:100px;
  width:300px;
  text-align: left;
  padding:0;
  color:#eee;
  transform: translate(0,-50%);
  display: none;
  font-family: system-ui;
  text-shadow: 1px 1px 0 rgb(0, 0, 0),
  2px 2px 0 rgba(0, 0, 0),
  3px 3px 0 rgba(0, 0, 0, 0),
  4px 4px 0 rgba(0, 0, 0, 0);
}
.item-package:nth-child(2) .content-package{
  display: block;
  z-index: 11111;
}
.item-package .name-package{
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  animation:showcontent 1s ease-in-out 1 forwards
}
.item-package .description-package{
  margin:20px 0;
  opacity: 0;
  animation:showcontent 1s ease-in-out 0.3s 1 forwards
}

.item-package .price-package{
  margin:10px 0;
  opacity: 0;
  animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item-package button{
background: transparent;
border: 3px solid white;
color: white;
margin-top: 15px;
padding: 5px 30px;
font-size: 1.1em;
font-weight: bold;
border-radius: 25px;
transition: all ease-in-out 300ms ;
cursor: pointer;
animation:showcontent 1s ease-in-out 0.6s 1 forwards;
text-shadow: 1px 1px 0 rgb(0, 0, 0),
  2px 2px 0 rgba(0, 0, 0),
  3px 3px 0 rgba(0, 0, 0, 0),
  4px 4px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0),
  0 0 40px rgb(0, 0, 0),
  0 0 60px rgba(0, 0, 0, 0),
  0 0 80px rgba(0, 0, 0, 0);
}

@keyframes showcontent{
  from{
      opacity: 0;
      transform: translate(0,100px);
      filter:blur(33px);
  }to{
      opacity: 1;
      transform: translate(0,0);
      filter:blur(0);
  }
}
.buttons-package{
  position: absolute;
  bottom:30px;
  z-index: 222222;
  text-align: center;
  width:100%;
}
.buttons-package button{
  background-color: transparent;
  color: white;
  width:50px;
  height:50px;
  border-radius: 50%;
  border: 3px solid white;
  transition: 0.5s;
  cursor: pointer;
}


/* Ajoutez ces styles à votre feuille de style CSS existante */

/* Pour tablettes et téléphones mobiles */
@media (max-width: 1060px){
  .container-package{
    width:45%;
  }

  .item-package{
    width: 0px;
  }

  .item-package .content-package {
    left: 0;
    width: 100%;
    text-align: center;
  }

}

@media (max-width: 920px) {
  .container-package{
    width:45%;
  }

  .item-package{
    width: 0px;
  }

  .item-package .content-package {
    left: 0;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .container-package {
    margin-top: 50%; /* Ajustez la marge selon vos besoins */
    margin-left: 50%;
    margin-right: auto;
    width: 80%; /* Ajustez la largeur selon vos besoins */
  }

  .item-package {
    width: 100%;
    height: auto;
    margin-bottom: 30px; /* Espace entre les éléments */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .item-package .content-package {
    left: 0;
    width: 100%;
    text-align: center;
  }
}

/* FIN DU PACKAGE */
/* DEBUT AVIS CLIENT */

.client {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* background-color: blue; */
}
.client h1 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: black;  
}

.client span{
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
  background-clip: text;
  color: transparent;
}

.container-client{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.box-contact-client{
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0),
  0 0 40px rgb(0, 0, 0),
  0 0 60px rgba(0, 0, 0, 0),
  0 0 80px rgba(0, 0, 0, 0);
}

.profile-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-client{
  display: flex;
  align-items: center;
}

.name-client{
  display: flex;
  flex-direction: column;
}

.name-client strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-client span{
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
  background-clip: text;
  color: transparent;
  font-weight: bold;
  /* color: #979797; */
  font-size: 0.8rem;
}

.review-client{
  color:#f9d71c;
}

.box-contact-top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

.comment-client p{
  font-size: 0.9rem;
  color: #4b4b4b;
}

.box-contact-client:hover {
  transform: translateY(-10px);
  transform: all ease 0.3s;
}

/* RESPONSIVE TABLETTE ET MOBILE */

@media(max-width:1600px){
  .box-contact-client{
    width: 45%;
    padding: 10px;
  }
}

@media(max-width:790px){
  .box-contact-client{
    width: 100%
  }
  .title-package{
    font-size: 1.4rem;
  }
}

@media(max-width:340px){
  .box-contact-client{
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .review-client{
    margin-top: 10px;
  }
}

/* DEBUT DU */



/* FIN DU */
/* DEBUT DU FOOTER */

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.contact h1 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: black;  
}

.contact span{
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
  background-clip: text;
  color: transparent;
}

.title-contact{
  margin-top: -48px !important ;
}

 .contact .row-contact{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.contact .row-contact .map{
  flex: 1 1 calc(50% - 0.75rem);
  width: 100%;
  padding:2rem;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0),
  0 0 20px rgb(0, 0, 0),
  0 0 20px rgba(0, 0, 0, 0),
  0 0 20px rgba(0, 0, 0, 0);
}

.contact .row-contact form{
  padding:2rem;
  flex: 1 1 calc(50% - 0.75rem);
  border:.1rem solid rgba(0,0,0,.1);
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0),
  0 0 20px rgb(0, 0, 0),
  0 0 20px rgba(0, 0, 0, 0),
  0 0 20px rgba(0, 0, 0, 0);
}

.contact .row-contact form .box-contact{
  width:100%;
  border-radius: 25px;
  padding:1rem 1.2rem;
  font-size: 1.6rem;
  text-transform: none;
  border:.1rem solid white;
  margin:.7rem 0;
  font-weight: bold;
}

.contact .row-contact form textarea{
  height:15rem;
  resize: none;
}

.contact .row-contact .btn-contact{
backdrop-filter: blur(200px); /* Ajustez la valeur du flou selon vos préférences */
background-color: rgba(255, 255, 255, 0.2); /* Couleur de fond semi-transparente */
border: 3px solid white;
color: rgb(244, 239, 239);
margin-top: 15px;
padding: 5px 30px;
font-size: 1.1em;
font-weight: bold;
border-radius: 25px;
transition: 0.3 ease;
cursor: pointer;
animation:showcontent 1s ease-in-out 0.6s 1 forwards;
}

/* FIN DE LA MAP ET FORMULAIRE */
/* DEBUT DU FOOTER */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-footer img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.social-icons-footer {
  display: flex;
  gap: 10px;
}

.social-icon-footer {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quick-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quick-links-title{
  font-weight: bold;
  margin-bottom: 20px;
}

.quick-link {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.quick-link:hover .link-text {
  transform: scale(1.2);
  transition: all ease-in-out 400ms ;
  cursor: pointer;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-section-title{
  font-weight: bold;
  margin-bottom: 20px;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.info-item .icon {
  margin-right: 10px; /* Ajuster la marge à droite pour l'icône */
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newsletter-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.newsletter-text {
  margin-bottom: 10px;
}

.subscribe-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.subscribe-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-weight: bold;
}

.subscribe-button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 3px 20px;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.3 ease;
  cursor: pointer;
}

.subscribe-button:hover{
  transform: scale(1.1);
  transition: all ease-in-out 400ms ;
  background: linear-gradient(45deg, #84fab0, #8fd3f4);
}

/* RESPONSIVE */

@media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .logo-footer,
    .quick-links,
    .info-section,
    .newsletter {
      margin-bottom: 20px;
    }

    /* Réduire la taille de l'icône */
    .social-icon,
    .info-item .icon {
      width: 25px;
      height: 25px;
    }

    /* Styles de réorganisation pour la section d'info */
    .info-section {
      flex-direction: column;
      align-items: center;
    }

    .info-item {
      margin-bottom: 15px;
    }

    /* Styles pour la section Newsletter */
    .newsletter {
      text-align: center;
    }
  }

/* ANIMATION SUPPLEMENTAIRE FOOTER */

.quick-links-title {
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  cursor: default;
  transition: 0.3s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.quick-links-title:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.quick-links-title:hover:before{
  width: 100%;
}

.info-section-title {
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  cursor: default;
  transition: 0.3s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.info-section-title:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.info-section-title:hover:before{
  width: 100%;
}

.newsletter-title {
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  cursor: default;
  transition: 0.3s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.newsletter-title:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.newsletter-title:hover:before{
  width: 100%;
}


.footer .social-icon{
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.footer .social-icon:not(:last-child){
  margin-bottom: 20px;
}

.footer .social-icon:hover{
  transform: scale(1.3);
}
/*FIN DU FOOTER */
