main {
    display: flex;
    justify-content: center;
}

#flexingSection {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 1200px;
}

#leftContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    left: 8%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.074);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    /* Ajout de l'effet de flou */
    opacity: 0.9;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    height: 700px;
    width: 450px;
}

#leftContainerSecond {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    left: 8%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.074);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    /* Ajout de l'effet de flou */
    opacity: 0.9;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    height: 700px;
    width: 500px;
}

#leftContainerThird {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    left: 8%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.074);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    /* Ajout de l'effet de flou */
    opacity: 0.9;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    height: 700px;
    width: 500px;
}

.noAccount {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.074);
    box-shadow: 19px 21px 38px 0px rgba(158, 158, 158, 0.32);
    backdrop-filter: blur(20px);
    /* Ajout de l'effet de flou */
    opacity: 0.9;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    padding: 10px 50px;
}


.designButtonSecond {
    padding: 5px 40px;
    border: unset;
    border-radius: 25px;
    color: #212121;
    z-index: 1;
    background: white;
    position: relative;
    font-weight: 1000;
    font-size: 14px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    margin: 10px 0;
    cursor: pointer;
}

.designButtonSecond:hover {
    color: #e8e8e8;
}

.designButtonSecond:active {
    transform: scale(.96);
}

#rightContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.074);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    /* Ajout de l'effet de flou */
    opacity: 0.9;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    height: 800px;
    width: 600px;
}

/*---------------------Zone input waving---------------------------*/
.containerWave-group {
    display: flex;
}

.wave-group {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}

.margin {
    margin-left: 5px;
    margin-right: 5px;
}

.wave-group .input {

    font-size: 14px;
    padding: 5px;
    display: block;
    width: 200px;
    border-radius: 25px;
    border: 1px solid lightgrey;
    background: transparent;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.partnerAddress .input {
    width: 97.5%;
}

.wave-group .input .error {
    border-bottom-color: red;
}

.wave-group .input:focus {
    outline: none;
    /* border-bottom: 2px solid black; */
}

.wave-group .label {
    color: #999;
    /* font-size: 18px; */
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 5.5px;
    display: flex;
}

.wave-group .label-char {
    transition: 0.1s ease all;
    transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
    transform: translateY(-25px);
    font-size: 14px;
    color: black;
}

/*-------------------------Boutton de connexion----------------------------*/

.designButton {
    margin-top: 40px;
    padding: 15px 25px;
    border: unset;
    border-radius: 25px;
    color: #212121;
    z-index: 1;
    background: white;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.designButton:hover {
    color: #e8e8e8;
}

.designButton:active {
    transform: scale(.96);
}

/*-----------------------Fade in au chargement de la page--------------------------*/

#leftContainer,
#leftContainerSecond,
#leftContainerThird,
#rightContainer {
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0;
        transform: translateY(70px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#leftContainer,
#leftContainerSecond,
#leftContainerThird {
    animation-name: fadeInFromBottom;

}

#rightContainer {
    animation-name: fadeInFromBottom;
    /* background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgb(255, 255, 255) 35%, #e2f9fa 100%); */
    overflow: hidden;
}

#rightContainer img {
    position: absolute;
    height: 200px;
    top: 20px;
    filter: drop-shadow(10px 10px 13px lightgrey);
}

.rememberMe {
    margin-top: 5px;
}

.squareCard {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.074);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    /* Ajout de l'effet de flou */
    opacity: 0.9;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*------------------------Zone inscription---------------------------*/



.backHome {
    text-decoration: none;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.backHome:hover {
    color: #015871;
    transform: scale(.9);
}

/*-----------------------------SquareCard-------------------------------*/

/*----------------------------------------------------------------------*/

.eye-icon {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px;
    display: none;
    fill: grey;
}

.eye-open {
    display: block;
}

.eye-closed {
    display: none;
}

#passwordInput[type="text"]~.eye-open {
    display: none;
}

#passwordInput[type="password"]~.eye-closed {
    display: none;
}

.eye-iconCustomer {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px;
    display: none;
    fill: grey;
}

.eye-openCustomer {
    display: block;
}

.eye-closedCustomer {
    display: none;
}

#passwordInput[type="text"]~.eye-openCustomer {
    display: none;
}

#passwordInput[type="password"]~.eye-closedCustomer {
    display: none;
}

.eye-iconPartner {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px;
    display: none;
    fill: grey;
}

.eye-openPartner {
    display: block;
}

.eye-closedPartner {
    display: none;
}

#passwordInput[type="text"]~.eye-openPartner {
    display: none;
}

#passwordInput[type="password"]~.eye-closedPartner {
    display: none;
}

.eye-iconTP {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px;
    display: none;
    fill: grey;
}

.eye-openTP {
    display: block;
}

.eye-closedTP {
    display: none;
}

#passwordInput[type="text"]~.eye-openTP {
    display: none;
}

#passwordInput[type="password"]~.eye-closedTP {
    display: none;
}

.inputTest {
    border: 1px solid lightgrey;
    border-radius: 25px;
}